{% from '_sortable_list.html' import sortable_list %}
{% from 'events/management/_settings.html' import render_event_settings %}
{% from 'forms/_form.html' import form_header, form_footer, form_row, form_rows, form_fieldset %}
{% from 'events/contributions/management/_draft_mode_warning.html' import render_draft_mode_warning %}

{% block content %}

    {{ form_header(form, id='jpsp-ng-disconnect-form') }}

    <p class="">Press the DISCONNECT button to remove plugin event settings.</p>

    {% call form_footer(form, skip_label=true) %}
        <input class="i-button big danger" type="submit" value="{% trans %}Disconnect{% endtrans %}">
    {% endcall %}

{% endblock %}
